@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1599305940725'); /* IE9 */
  src: url('iconfont.eot?t=1599305940725#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABnwAAAJ4AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgpocwE2AiQDDAsIAAQgBYRtBzMbtgUR1Yt5sr9ANoYD/zLSMvHNLx0lxOldNOnal+kFC+J4nA4QtzACEgAAAAAgHt72+zx3Zt5bBIekNquIFBcI7Kqm8VVkbIVu1lc2dfWsq79O7l+miUecBp5xRAEW2Pd/LnME7p6/2AMaox/bQtJy/kszUnLWzagZuwBIhAHABKRkbjpJSlWJkhKeDl+ZXYKSd8vnuZzeBDqQ+fEot7Xn86NegHFAge6BUWRFlBA3jF3wAh8TaDXMce/u8LKuwl4ViNfJswe6hZyisGazUDccLOKDSnN6l+Z99P34txRIqszeeMr7j1388VO+4XZAyBPg8QoZi6AQdxtr16EhGGdabc3u7loR0lLFRiPSGZba+cMjCaJmD7aDWVRP/MTTZXah4akbGZ5OST8Y0eJNEKLufAMcRmRf8PmLsNYG+fP2fz88A5hX3A3+h1o+PW08/uFr0Ddh3Qf0M/lt/Q2AfFCfIYJv67quk/8GBfzo75GvGF5vlmD6H6QfOFIMo+3PRdN5OiuRdQ6IJOBQKxpgp3r9dNfATbRCs4EJqSZDN5RoNpmRhV1Epc0yas020WpBHG/Tp6AhSgvmNUDoNkg6nSPrtmRhD5VBQq07QqurtdGFbaaDzP61kmcUov+NSSAlu0Hrx8MPFL3nnuaNEf9CWiVF3CzX5eY9laRLbKk+oi0zRlYp8A48R3ku6FRSCmwZm7mj1Yqb3rQMpIC+ayXPKET/G5NASg4mW7/y+QeK3nNPO1R1zRfSKpkdN8v1APLeVg5SPcor1Ue0ZcbIKgXegXmU54KueV5KgS3jCRV3tHLG8VDbcntH8X+noJV9Q44UOYr6mWveyGcJAAAA') format('woff2'),
  url('iconfont.woff?t=1599305940725') format('woff'),
  url('iconfont.ttf?t=1599305940725') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1599305940725#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up:before {
  content: "\e628";
}

.icon-Down:before {
  content: "\e625";
}

